<div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link">
        Channels
    </a>
    <div class="navbar-dropdown has-background-black is-left">
        <a class="navbar-item {% if page.type == 'channel' %}is-active{% endif %}"
            href="https://youtube.com/@TindalosSTV" target=”_blank”>Tindalos</a>
        <a class="navbar-item {% if page.type == 'channel' %}is-active{% endif %}"
            href="https://youtube.com/@ScytedTVNews" target=”_blank”>ScytedTV News</a>
        <a class="navbar-item {% if page.type == 'channel' %}is-active{% endif %}"
            href="https://youtube.com/@CleverRemarks" target=”_blank”>Clever Remarks</a>
        <a class="navbar-item {% if page.type == 'channel' %}is-active{% endif %}"
            href="https://youtube.com/@MilosLifeSTV" target=”_blank”>Milo's Life</a>
        </a>
        <hr class="navbar-divider">
        <a class="navbar-item {% if page.type == 'channel' %}is-active{% endif %}"
        href="https://youtube.com/@ScytedTV" target=”_blank”>ScytedTV Studios</a>
    </div>
</div>