<div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link">
        Content
    </a>
    <div class="navbar-dropdown has-background-black is-left">
        <a class="navbar-item {% if page.type == 'show' %}is-active{% endif %}"
            href="{{site.url}}{{site.baseurl}}/shows">Shows</a>
        <a class="navbar-item {% if page.type == 'schedule' %}is-active{% endif %}"
            href="{{site.url}}{{site.baseurl}}/schedule">Schedule</a>
        <a class="navbar-item {% if page.type == 'roadmap' %}is-active{% endif %}"
            href="{{site.url}}{{site.baseurl}}/roadmap">Roadmap</a>
        </a>
        <!-- <hr class="navbar-divider">
    <a class="navbar-item">
      Report an issue
    </a> -->
    </div>
</div>