<div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link">
        BETA
    </a>
    <div class="navbar-dropdown has-background-black is-left">
        <a class="navbar-item {% if page.type == 'dashboard' %}is-active{% endif %}"
            href="{{site.url}}{{site.baseurl}}/dashboard">Dashboard</a>
        <a class="navbar-item {% if page.type == 'discussion' %}is-active{% endif %}"
            href="{{site.url}}{{site.baseurl}}/discussions">Discussions</a>
        </a>
        <!-- <hr class="navbar-divider">
    <a class="navbar-item">
      Report an issue
    </a> -->
    </div>
</div>