<div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link">
        BETA
    </a>
    <div class="navbar-dropdown has-background-black is-left">
        <a class="navbar-item {% if page.type == 'resources' %}is-active{% endif %}"
            href="{{site.url}}{{site.baseurl}}/resources">Resources</a>
        <a class="navbar-item {% if page.type == 'team' %}is-active{% endif %}"
            href="{{site.url}}{{site.baseurl}}/team">Team</a>
        <!-- <a class="navbar-item {% if page.type == 'discussion' %}is-active{% endif %}"
            href="{{site.url}}{{site.baseurl}}/discussions">Discussions</a> -->
        </a>
        <!-- <hr class="navbar-divider">
    <a class="navbar-item">
      Report an issue
    </a> -->
    </div>
</div>