<section class="hero" id="featured">
    <div class="hero-body">
        <div class="container">

            <style>
                .box {
                    display: flex;
                    margin: 40px;
                    margin-bottom: -20px;
                }

                .image-featured img {
                    flex: 0 0 50%;
                    border-radius: 10px;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
                    width: 100%;
                    height: auto;
                }

                .content {
                    flex: 0 0 50%;
                    padding: 0 40px;
                    margin-top: 18px;
                }

                h1 {
                    margin-top: -30px;
                }

                .content h2 {
                    margin-top: 0;
                }

                .content p {
                    margin-bottom: 10px;
                }

                .link {
                    display: block;
                    color: blue;
                    text-decoration: underline;
                }

                @media (max-width: 768px) {
                    .box {
                        flex-direction: column;
                        text-align: center;
                    }

                    .image-featured {
                        flex: 0 0 auto;
                        order: 2;
                        margin-bottom: 20px;
                    }

                    .content {
                        flex: 0 0 auto;
                        order: 1;
                        padding: 0;
                    }
                }
            </style>

            <div class="content has-text-centered">
            <h1>Featured Content</h1>
        </div>

            <div class="box has-background-white-ter">
                <div class="image-featured">
                    <img src="https://cdn.scyted.tv/website-assets/show-banners/clever-remarks.jpg" alt="Title 1">
                </div>
                <div class="content">
                    <h2>Casting Clever Remarks (Season 2)</h2>
                    <p>The game show where we answer some of the world's silliest questions is now casting for the second season! For more information, click the link below!</p>
                    <a href="https://www.scyted.tv/blog/clever-remarks" class="link">More Info</a>
                </div>
            </div>

            <!-- <div class="box has-background-white-ter">
                <div class="image-featured">
                    <img src="https://cdn.scyted.tv/website-assets/show-banners/loyd-talks-about-it.jpg" alt="Title 1">
                </div>
                <div class="content">
                    <h2>Loyd Talks About It [NEW]</h2>
                    <p>Loyd Talks About It is a simple show where Loyd speaks his feelings on a subject and gives advice to viewers.</p>
                    <a href="https://www.scyted.tv/show/loyd-talks-about-it" class="link">More Info</a>
                </div>
            </div> -->

            <div class="box has-background-white-ter">
                <div class="image-featured">
                    <img src="https://cdn.scyted.tv/website-assets/show-banners/milos-life.jpg" alt="Title 1">
                </div>
                <div class="content">
                    <h2>Milo's Life</h2>
                    <p>Milo is the dog of Camie, one of ScytedTV's editors. Camie has dedicated a part of her life to helping us share the life of her dog, Milo. Throughout the rest of 2024 (and maybe more), you will be seeing weekly update videos about Milo's life and what he's been up to.</p>
                    <a href="https://www.scyted.tv/show/milos-life" class="link">More Info</a>
                </div>
            </div>

            <div class="box has-background-white-ter">
                <div class="image-featured">
                    <img src="https://cdn.scyted.tv/website-assets/show-banners/ink-and-ideals.jpg" alt="Title 1">
                </div>
                <div class="content">
                    <h2>Ink & Ideals</h2>
                    <p>Ink & Ideals is a philosophical video essay series about pop culture and anime.</p>
                    <a href="https://www.scyted.tv/show/ink-and-ideals" class="link">More Info</a>
                </div>
            </div>


        </div>
    </div>
</section>