<body>
    {% include navbar.html %}
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered" id="page-section">
                <div class="section">
                    <h1 class="title is-1 is-uppercase has-text-weight-bold">
                        {{page.title}}
                    </h1>
                    <hr class="has-background-black">
                    <div class="content is-marginless">
                        <head>
                            <meta charset="UTF-8">
                            <meta name="viewport" content="width=device-width, initial-scale=1">
                            <link rel="stylesheet" href="https://api.scyted.tv/links/page-code/style.css">
                            <script src="https://api.scyted.tv/links/page-code/script.js"></script>
                            <script>
                                const username = "@loydosborne"
                            </script>
                            <title>User Page</title>
                        </head>
                        <body>
                            <div id="pagetitle"></div>
                            <div class="your-mom">
                                <div class="header">
                                    <div class="profile-pic"></div>
                                    <div id="displaytitle"></div>
                                </div>
                                <div id="displaylinks"></div>
                            </div>
                        </body>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Footer begins here-->
    {% include footer-alt.html %}
</body>