---
title: Discord Domain Verification
layout: post
type: blog
post-image: "https://cdn.scyted.tv/website-assets/blog-posts/discord-domain-verification.webp"
description: We want to implement a new security measure 
tags:
- Loyd Osborne
---

We want to implement