.gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff; /* Changed background color to white */
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.gallery img {
    max-width: 100px;
    max-height: 100px;
    cursor: pointer;
    transition: transform 0.2s;
}

.gallery img:hover {
    transform: scale(1.1);
}

.gallery .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.gallery .modal-content {
    display: block;
    margin: auto;
    max-width: 90%;
    max-height: 90%;
}

.gallery .close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.gallery .close:hover,
.gallery .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
